@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Ubuntu", sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    height: 80px;
    background-color: rgb(12, 12, 12);
    color: white;
    align-items: center;
    position: fixed;
    width:100vw;
    top:0;
}

nav ul li{
    padding: 0 16px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;

}
/* if we want to access single child  at a time*/
/* nav ul li:nth-child(1){
    opacity: 0.8;
} */

/* if we want to access multiple  child  at a time*/

nav ul li:nth-child(n+2):nth-child(-n+3):hover{
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
}


.brand{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}
/* tool tip Currently not working  */
.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip:hover::after{
    content: attr(data-tooltip);
    position: absolute;
    background-color: gray;
    color: black;
    padding: 4px;
    border-radius: 2px;
    bottom: 125%;
    left:50%;
    transform: translateX(-50%);
    white-space:nowrap;
    z-index: 2;
}

.brand img{
    width:40px;
    margin-right: 8px;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    width:80%;
    display: flex;
    margin: 24px auto;
    margin-top: 104px;
    border-radius: 16px;
    padding:24px;
    background-image: url("wp12552482-oppenheimer-movie-wallpapers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Varela Round", sans-serif;
}

.bottom{
    position: sticky;
    background-color: black;
    color: white;
    height: 130px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.songInfo{
    position: absolute;
    left:9.5vw;
    font-family: "Varela Round" , sans-serif;
    display: flex;
    align-items: center;
}

.songInfo img{
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#myProgressBar{
    width:80vw;
    cursor: pointer;
    
}

.icons{
    margin-top: 16px;
}

.icons i{
    margin: 0 6px;
    cursor: pointer;
}

.songItemContainer{
    margin-top:72px;
}

.songItem{
    height: 50px;
    background-color: white;
    display: flex;
    width:22vw;
    color:black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    font-family: "Varela Round", sans-serif;
    font-size: 0.9rem;
    box-shadow: 8px 4px 16px #0e0e0e ;

}

.songItem img{
    width:44px;
    margin: 0 4px 0 4px;
    border-radius: 4px;
}

.timeStamp{
    margin: 0 8px;
}

.timeStamp i{
    cursor: pointer;
}


input[type="range"]{
    -webkit-appearance: none;
    width:100%;
    height: 10px;
    background-color: #d3d3d3;
    outline:none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f13737;
    cursor: pointer;
}
.volumeInfo{
    position: absolute;
    right:9.5vw;
    display: flex;
    align-items: center;
}

#truncate{
    width:150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
}

.volumeInfo i{
    margin-right: 8px;
}

.volumeInfo input[type="range"]{
    -webkit-appearance: none;
    width:100%;
    height: 6px;
    background-color: #d3d3d3;
    outline:none;
    border-radius: 5px;
}

.volumeInfo input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:10px;
    height: 25px;
    border-radius: 8px;
    background-color: #2b00ff;
    cursor: pointer;
}

.volumeInfo i {
    cursor: pointer;
}


